.navbar{
    display: flex;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(202, 201, 201);
}

.navbar li {
    list-style: none;
}

a:hover {
    color: rgb(34, 138, 170);
}